* {
    user-select: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

iframe {
    display: block;
    border: none;
    margin: 0;
    padding: 0;

    height: 100%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}