/*===============*\
    #General
\*===============*/

* {
    box-sizing: border-box;
}

p,
ul {
    margin: 0;
    padding: 0;
    border: none;
}



/*===============*\
    #DownloadPage
\*===============*/

.preview {
    width: 200px;
}

.testing {
    background-color: #c8c8c8;
}